<template>
  <!-- Your app's template can only have a single top-level element. -->
  <div class="chatagon-config">
    <ui-textbox label="Twitch Channel Name" v-model="username"></ui-textbox>
    <ui-textbox label="Twitch Titles (comma separated)" v-model="titles"></ui-textbox>
    <ui-textbox label="Twitch Emotes (comma separated)" v-model="emotes"></ui-textbox>
    <ui-textbox label="Size" v-model="size"></ui-textbox>
    <ui-button raised color="primary" size="small" @click="save">Save</ui-button>
  </div>
</template>

<script>
// The <script> tag defines your app's behavior. It is run through babel to convert any ES6
// functionality to box-stock ES5.
//
// This app is the Broadcaster Config App. It defines a relatively large area (500 pixels
// high and almost as wide as the browser window) that only a broadcaster can see. It is
// their first entry point into an app and should show any configuration options available
// to them.
//
// It is not expected that broadcasters will keep this window open while they are streaming,
// however, so it should not be used for immediate notifications or actions.
import AppMixin from 'shared/js/app-mixin';

// KeenUI is globally accessible to your app directly at the `window.KeenUI` object. You can
// use any KeenUI element on the broadcaster-facing pages: https://josephuspaye.github.io/Keen-UI
const UiButton = window.KeenUI.UiButton;
const UiTextbox = window.KeenUI.UiTextbox;

// This is the main access point to this app.
export default {
  // The name field must be your app id with `_config` appended to it.
  name: 'cyncopated_productions_chatagon_config',

  // The AppMixin provides access to several convenience methods, such as the powerful
  // `option` function.
  mixins: [AppMixin],

  // Components are other .vue files that define the appearance and behavior of DOM elements.
  // Here we import the button and select dropdown from KeenUI to make the elements look nicer.
  components: { UiButton, UiTextbox },

  // Any fields added to your `data` object are accessible on `this` in your class methods or
  // directly in your template elements.
  data: () => ({
    username: '',
    titles: "Kappa, LUL, FeelsBadMan, PogChamp, gg, !",
    emotes: "Kappa, LUL, FeelsBadMan, PogChamp, gg, !",
    size: 6
  }),

  // Computed functions are reactive and will automatically update when any data fields
  // they reference change.
  // computed: {
  //   demoImageURL() {
  //     return `https://lorempixel.com/64/64/${this.imageType.toLowerCase()}`;
  //   }
  // },

  // Any methods defined here can be called from your template elements.
  methods: {
    save() {
      this.saveChannelOptions({
        username: this.username,
        titles: this.titles,
        emotes: this.emotes,
        size: this.size
      });
    }
  },

  // The `created` method is called when your app is first loaded and ready to be populated
  // with data displayed.
  created() {
    // You can extract the initial options emotes using the `option` getters. Channel options
    // will be loaded from the server before your `created` method is called.
    this.username = this.option('username', '');
    this.titles = this.option('titles', "Kappa, LUL, FeelsBadMan, PogChamp, gg, !");
    this.emotes = this.option('emotes', "Kappa, LUL, FeelsBadMan, PogChamp, gg, !");
    this.size = this.option('size', 6);

    // You can also pass a callback function to `option` which will be called with the new
    // value at the path every time it is updated. It will be called immediately with the
    // initial value of the option or `undefined` if none is set.
    // this.option('image_type', (image_type) => {
    //   const type = image_type || imageTypeChoices[1];
    //   // eslint-disable-next-line no-console
    //   console.log(`Images of ${type.toLowerCase()}? I love images of ${type.toLowerCase()}!`);
    // });
  }
};
</script>

<style lang="scss">
// The style section will be applied to your template above. We are setting `lang="scss"` so that
// we can use any SCSS features here and have them automatically converted to standard CSS
// before display.
.toast-demo-config {
  margin: 0;
  padding: 10px;

  .image-demo {
    margin: 10px 0;

    img {
      display: block;
      height: 64px;
      margin-bottom: 5px;
      width: 64px;
    }
  }

  .game-auth {
    width: 80%;
    margin: 30px auto;
  }
}
</style>