<template>
  <div class="chatagon">
    <div class="body">
      <svg id="svg" height="300" width="300">

      </svg>
    </div>
  </div>
</template>

<script>
// The <script> tag defines your app's behavior. It is run through babel to convert any ES6
// functionality to box-stock ES5.
//
// This app is the Viewer App. It defines the whole of your app's appearance and behavior
// that viewers of a stream will experience. It may have a movable window over the stream
// video, be showable/hideable, or change appearance depending upon actions occuring on
// the broadcaster's stream!

import AppMixin from 'shared/js/app-mixin';

// Any local resources (images/fonts/etc.) should be referenced from your JavaScript. Small
// sized files (~10KB) will be automatically inlined into the source code.
import DefaultImage from './assets/images/default-image.png';

// This is the main access point to this app.
export default {
  // The name field must be your blessed app id and be the same as appears in config.json.
  name: 'cyncopated_productions_chatagon',

  // The AppMixin provides access to several convenience methods, such as the powerful
  // `option` function.
  mixins: [AppMixin],

  // Any fields added to your `data` object are accessible on `this` in your
  // class methods or directly in your template elements.
  data: () => ({
    size: 6,
    values: [0.5, 0.5, 0.5, 0.5, 0.5, 0.5]
    
  }),

  // Any methods defined here can be called from your template elements.
  methods: {
    showChatagon(data) {


      var newBackground = document.createElementNS('http://www.w3.org/2000/svg','circle');
      newBackground.setAttribute('id', 'backgroundgon');
      // newBackground.setAttribute('points', points);
      // newBackground.setAttribute('style', "fill:white;stroke:white;stroke-width:1;fill-opacity:0.3");
        newBackground.setAttribute('cx', 150);
        newBackground.setAttribute('cy', 150);
        newBackground.setAttribute('r', 145);
        newBackground.setAttribute('stroke', 'white');
        newBackground.setAttribute('fill', 'white');
        newBackground.setAttribute('fill-opacity', '0.3');
      document.getElementById('svg').appendChild(newBackground);
      var labels = this.option('labels', []);
      // var points = "";
      for (var i = 0; i < data.size; i++) {
        var radians = (Math.PI/data.size)*2*i;
        var y = Math.sin(radians) * 95.0;
        var x = Math.cos(radians) * 95.0;
        var newPoint = document.createElementNS('http://www.w3.org/2000/svg','circle');
        newPoint.setAttribute('cx', y + 150);
        newPoint.setAttribute('cy', x + 150);
        newPoint.setAttribute('r', 2);
        newPoint.setAttribute('stroke', 'black');
        newPoint.setAttribute('fill', 'black');
        newPoint.setAttribute('fill-opacity', '1');
        document.getElementById('svg').appendChild(newPoint);

        var newText = document.createElementNS('http://www.w3.org/2000/svg','text');
        y *= 1.2;
        x *= 1.2;
        newText.setAttribute('x', y + 150);
        newText.setAttribute('y', x + 150);
        newText.setAttribute('text-anchor', "middle");
        newText.setAttribute('dominant-baseline', "central");
        newText.setAttribute('transform',"rotate(" + (-360 / data.size * i + 180) + "," + (y + 150) + "," + (x + 150) + ")");
        // console.log(data);
        var textNode = document.createTextNode(data.titles[i]);
        newText.appendChild(textNode);
        document.getElementById('svg').appendChild(newText);

        // points += "" + (y * 1.1 + 150) + "," + (x * 1.1 + 150) + " "
      }

      this.drawStats(data);

      this.$el.insertBefore(svg, this.$el.querySelector('.body'));
    },

    drawStats(data) {
      var oldpolygon = document.getElementById('statsgon');
      var oldpoints = "";
      if (oldpolygon != null) {
        oldpoints = oldpolygon.getAttribute('to');
        oldpolygon.parentNode.removeChild(oldpolygon);
      }
      var points = "";
      for (var i = 0; i < data.size; i++) {
        var radians = (Math.PI/data.size)*2*i;
        var y = Math.sin(radians) * 95.0;
        var x = Math.cos(radians) * 95.0;
        var scale = Math.max(data.values[i] * 2,0.1);
        // var scale = this.sigmoid(data.values[i]);
        // console.log(data.values[i] + ": "  + scale);
        points += "" + (y * scale + 150) + "," + (x * scale + 150) + " ";
      }

      if (oldpoints = "null") {
        oldpoints = "";
        for (var i = 0; i < data.size; i++) {
          oldpoints += "" + 0 + "," + 0 + " ";
        }
      }

      var newPolygon = document.createElementNS('http://www.w3.org/2000/svg','polygon');
      newPolygon.setAttribute('id', 'statsgon');
      newPolygon.setAttribute('points', "");
      newPolygon.setAttribute('style', "fill:grey;stroke:purple;stroke-width:1;fill-opacity:0.5");

      var newAnimate = document.createElementNS('http://www.w3.org/2000/svg','animate');
      newAnimate.setAttribute('attributeName', 'points');
      newAnimate.setAttribute('dur', "1s");
      newAnimate.setAttribute('fill', "freeze");
      newAnimate.setAttribute('from', oldpoints);
      newAnimate.setAttribute('to', points);

      newPolygon.appendChild(newAnimate);

      document.getElementById('svg').appendChild(newPolygon);
    },

    sigmoid(x) {
      var e_pow_x = Math.pow(Math.E, x);
      return 2*(e_pow_x / (e_pow_x + 1) - 0.45);
    },

    occurrences(string, subString, allowOverlapping) {
      string += "";
      subString += "";
      if (subString.length <= 0) return (string.length + 1);

      var n = 0,
          pos = 0,
          step = allowOverlapping ? 1 : subString.length;

      while (true) {
          pos = string.indexOf(subString, pos);
          //if (pos >= 0 && (pos==0 || string[pos-1] == ' ') && (pos+subString.length==string.length || string[pos+subString.length] == ' ')) {
          if(pos >= 0) {
              ++n;
              pos += step;
          } else break;
      }
      return n;
    } 

  },

  // The `created` method is called when your app is first loaded and ready to be populated
  // with data displayed.
  created() {
    // `this.muxy.listen()` will establish a callback handler to call whenever the provided event
    // is received by this viewer. It is scoped to your app id, so even if another app uses the
    // same message, there will be no cross-communication. Any JSON payload sent with the
    // event will be passed to the callback function as the first parameter.

    var username = this.option('username', '').toLowerCase();

    var tmi = require("tmi.js");

    var client = new tmi.client({
      channels: ["#"+username]
    });

    // Connect the client to the server..
    client.connect();
    // console.log(client.readyState());
    var emoteStats = {
      size: 6,
      total: 0,
      unitTotals: [0, 0, 0, 0, 0, 0],
      values: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
      titles: ["Kappa", "LUL", "FeelsBadMan", "PogChamp", "gg", "!"],
      emotes: ["Kappa", "LUL", "FeelsBadMan", "PogChamp", "gg", "!"]
    } 
    emoteStats.size = parseInt(this.option('size', '6'));;
    emoteStats.titles = this.option('titles', "Kappa, LUL, FeelsBadMan, PogChamp, gg, !").replace(/\s/g, '').split(',');
    emoteStats.emotes = this.option('emotes', "Kappa, LUL, FeelsBadMan, PogChamp, gg, !").replace(/\s/g, '').split(',');
    // console.log(emoteStats.titles);
    var context = this;
    client.on('chat', function(channel, userstate, message, self) {
      console.log(message);
      var found = false;
      for(var i = 0; i < emoteStats.size; i++) {
        var num = context.occurrences(message, emoteStats.emotes[i]);
        if(num > 0) found = true;
        emoteStats.unitTotals[i] += num;
        emoteStats.values[i] = (emoteStats.unitTotals[i])/emoteStats.total;
      }
      if(found) emoteStats.total += 1;
      
      context.drawStats(emoteStats);
    });

    this.messageHandler = this.muxy.listen('show_chatagon', this.showChatagon);

    // If you need to do perform some custom logic when your application window is shown or hidden
    // but don't want to implement your own window type, you can use the integrated Vue messaging
    // system to get notified on `app-shown` and `app-hidden` events.
    this.$on('app-shown', () => {
      // console.log('The window is about to be shown'); // eslint-disable-line no-console
    });


    // We also provide events for when your app's icon is clicked in the toolbar.
    this.$on('clicked', () => {
      // this.hideChatagon();
      this.showChatagon(emoteStats);
      // this.showChatagon({
      //   title: 'Example of an incoming message',
      //   body: 'This message was not actually sent to all viewers, just you!',
      //   image: DefaultImage
      // });
    });
  },

  // The `destroyed` method is called when your app is being removed from overlay (not when
  // it is being hidden by the viewer or system, but completely removed). You should do any
  // cleanup necessary in this method.
  destroyed() {
    if (this.messageHandler) {
      // `this.muxy.unlisten()` removes the event callback handler. The callback you specified
      // in the `listen()` function will no longer be called when the specified event
      // is received.
      this.muxy.unlisten(this.messageHandler);
    }
  }
};
</script>

<style lang="scss">
// The style section will be applied to your template above. We are setting `lang="scss"` so
// that we can use any SCSS features here and have them automatically converted to standard
// CSS before display.
.toasty {
  background-color: rgba(40, 40, 40, 0.9);
  display: flex;
  align-items: center;
  user-select: none;

  img { verical-align: middle; }

  .body {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    vertical-align: middle;

    h1, h2 {
      color: white;
      margin: 0;
      max-width: 20vw;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h1 { font-size: 14px; }
    h2 { font-size: 12px; }
  }
}
</style>